# Copyright (c) 2021 Jason T. Harris
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CS43L22
	bool "CS43L22 DAC support"
	depends on I2C && GPIO
	help
	  Enable CS43L22 DAC support on the selected board
